@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    background-color: #1E1E1E;
    color: white;
}

.container{
    width: 70%;
    margin: 0 auto;
}
/* .source-content{
    width: 100%;
    background-color: aqua;
} */
header{
    display: flex;
    justify-content: space-between;
    margin-top: max(2vw, 30px);
}
.logo img{
    /* width: 200px; */
    width: max(10vw, 150px);
}
.header-button{
    font-weight: 500;
    padding: 10px 30px;
    font-size: max(.8vw, 13px);
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid white;
}
.header-button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

/* Hero section */
.hero{
   width: 100%;
   text-align: center;
   margin-top: max(5vw, 50px);
   margin-bottom: max(5vw, 50px);
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: max(2vw, 20px);
}
.hero-content h1{
    font-size: max(4.5vw, 50px);
    font-weight: 300;
    text-align: center;
    /* max-width: 65vw;
    margin: auto; */
}
.hero-content p{
    font-size: max(1.3vw, 18px);
    font-weight: 300;
    max-width: 50vw;
    margin: auto;
    line-height: 30px;
    
}
.hero-content button{
    font-weight: 500;
    padding: 10px 30px;
    font-size: max(1vw, 15px);
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid white;
}
.hero-content button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.hero-image img{
    width: 100%;
    height: 30vw;
    object-fit: cover;
    border-radius: 10px;
    margin-top: max(4vw, 20px);
}

@media (max-width: 1050px){
    .container{
        width: 80%;
    }
    .hero-content p{
        max-width: 100%;
    }
}
@media (max-width: 900px){
    .container{
        width: 90%;
    }
    .hero-image img{
        height: 50vw;
    }
}